<div class="container bg-light rounded-bottom py-3">
<%= form_with model: article do |form| %>

    <div class="input-group shadow">
        <span class="input-group-text" id="basic-addon1"><strong>Titulo: </strong></span>
        <%= form.text_field :title, 
            :type => "text", 
            :class => "form-control", 
            :placeholder => "Title here..." 
        %>
        <!--<%= article.errors.full_messages_for(:title).each do |message| %>
            <a><%= message %></a>
        <% end %>-->
    </div>
    <div class="input-group mb-3 shadow">
        <%= form.text_area :body,
            :type => "text",
            :class => "form-control",
            :placeholder => "Article text here..."
        %>
        <!--<%= article.errors.full_messages_for(:body).each do |message| %>
            <div><%= message %><div>
        <% end %>-->
        <%= form.select :status,
            ["public", "private", "archived"], 
            :class => "custom-select",
            selected: "public"
            %>
    </div>
    <div>
        <%= form.submit "Done", :class => "btn btn-outline-primary" %>
    </div>
<% end %>