<div class="head-content container">
    <h1 class="display-1">Blog<h1>
</div>

<div class="head-sub container">
    <h1 class="display-5">Hay <%= Article.public_count %> publicaciones
    </h1>
</div>
<div class="container bg-light rounded-bottom py-3">
<div class="container articles-content bg-transparent">
    <div class="list-unstyled list-picker container">
        <div class="row row-cols-auto justify-content-center g-2">
            <% @articles.each do |article| %>
                <% unless article.archived? %>
                    <div class="col card p-3 shadow mx-2" style="width: 18rem">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= article.title %>
                            </h5>
                            <p class="card-text text-truncate">
                                <%= article.body %>
                            </p>
                            <%= link_to "Show", article, :class => "btn btn-outline-primary fw-bold" %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
<div class="row row-cols-auto justify-content-center">
    <div class="col align-self-center">
        <%= link_to "Publish", new_article_path, :class => "btn btn-outline-primary fw-bold my-3" %>
    </div>
</div>
</div>

