<div class="head-content container">
    <h1 class="display-1">Blog<h1>
</div>

<div class="head-sub container">
    <h1 class="display-5">Hay <%= Article.public_count %> publicaciones
    </h1>
</div>

<div class="container articles-content bg-transparent">
    <div class="list-unstyled list-picker container">
        <div class="row row-cols-auto justify-content-center g-2">
            <% @articles.each do |article| %>
                <% unless article.archived? %>
                    <div class="col card p-3 shadow mx-2" style="width: 18rem">
                        <div class="card-body">
                            <h5 class="card-title border rounded">
                                <%= article.title %>
                            </h5>
                            <p class="card-text text-truncate border rounded">
                                <%= article.body %>
                            </p>
                            <div class="btn btn-light border border-5 rounded">
                                <%= link_to "Ir al articulo", article, :class => "btn fw-bold" %>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
<div class="row row-cols-auto justify-content-center">
    <div class="col align-self-center">
        <div class="btn btn-info border border-3 border-primary">
            <%= link_to "Nuevo", new_article_path, :class => "btn fst-italic fw-bold" %>
        </div>
    </div>
</div>

